.contact {
  height: 100%;
  padding-top: 20vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: 
    linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url('../img/header-contact.jpg') center top;
  background-size: cover;

  h3 {
    @include header-title;
    padding-bottom: 3rem;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;    
    font-size: map-get($font-sizes, font-s);

    &--info {
      @include text-secondary;
    }
  }

  .social-icons {
    font-size: 2rem;
    position: initial;
    margin-top: 2rem;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    right:unset;
  }
}