.home {
  height: 100%;
  padding-top: 25vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: 
    linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.7)
    ),
    url('../img/home-header.jpg') center top;
  background-size: cover;

  &__name {
    font-size: map-get($font-sizes, font-l);
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid set-text-color($primary-color);

    &--last {
      color: $secondary-color;
    }
  }

  &__jobtitle {
    font-size: map-get($font-sizes, font-xs);
  }

}
