@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: map-get($font-sizes, font-s);
      }
    }
  }

  .title {
    font-size: map-get($font-sizes, font-l);
  }

  .about {
    .jobs {
      &__job {
        &--year {
          font-size: map-get($font-sizes, font-m);
        }
        &--co {
          font-size: map-get($font-sizes, font-m);
          margin: -3rem 0 auto;
        }
        &--title {
          font-size: map-get($font-sizes, font-s);
          margin: 1rem 0 0.5rem auto;
        }
      }
    }
  }

  .projects {
    &__header-image {
      height: 40vh;
    }
    &__header--title {
      font-size: map-get($font-sizes, font-l);
    }
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
    &_btn {
      font-size: map-get($font-sizes, font-s)
    }    
  }

  .contact__list {
    text-align: left;
    font-size: map-get($font-sizes, font-m);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    margin: 5rem; 
  }

}

@include media-lg {
  .about {
    .social-icons {
      display: flex;
      flex-direction: row;
    }
    footer {
      transform: 
        rotate(360deg) 
        translate(1rem);
    }
  }

  .projects {
    &__items {
      font-size: map-get($font-sizes, font-m);
      grid-template-columns: repeat(3, 1fr);
    }
    .social-icons {
      display: flex;
      flex-direction: row;
    }
    footer {
      transform: 
        rotate(360deg) 
        translate(1rem);
    }
  }

  .contact__list {    
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    margin: 5rem;
  }
  
}

@include media-xl {
  .title {
    font-size: map-get($font-sizes, font-xl);
  }

  .projects__header-image {
    height: 50vh;
  }
}