@import 'variable';
@import 'config';
@import 'home';
@import 'menu';
@import 'about';
@import 'projects';
@import 'contact';
@import 'responsive';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  font-family: $font-set;
  line-height: 1;
}

main {
  height: 100%;
  width: 100%;
  padding-bottom: 4rem;

  .social-icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    font-size: 1rem;
  
    a {
      padding: 0.25rem;
      @include transition-ease;
  
      &:hover {
        color: $secondary-color;
      }
    }
  }
  footer {
    position: fixed;
    bottom: 0.25rem;
    right: 1rem;
    padding: 1rem;
    color: set-text-color($primary-color);
  }
  
}

